@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.main-title{
  font-family: 'Rubik Mono One', sans-serif;
  color: red;
}

.sub-title{
  font-family: 'Rubik Mono One', sans-serif;
}
 

.house-card {
  height: 500px;
  width: auto;
  border: black;
  border-style: solid;
  border-width: thin;
}

.river-card {
  height: 250px;
  width: auto;
  /* border: black;
  border-style: solid; */
  cursor: pointer;
  border-width: thin;
}

.river-card:hover {
  border-width: medium;
}

.go-again-btn {
  width: 355px;
  height: 50px;
  color: black;
  background-color: white;
  border-color: black;
  font-style: oblique;
  font-family: 'Rubik Mono One', sans-serif;
}

.go-again-btn:hover {
  color: white;
  background-color: black;
  border-color: white;
  font-weight: bold;
  border-width: thick;
}
